@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

html,
body {
  background-color: #ebecf0;
}

.scrollbox {
  overflow: hidden;
}

.scrollbox:hover {
  overflow-y: auto;
  overscroll-behavior: contain;
  -ms-scroll-chaining: contain;
}

.scrollbox::-webkit-scrollbar {
  width: 13px;
  height: 15px;
}

.scrollbox::-webkit-scrollbar-thumb {
  height: 15px;
  border-radius: 5px;
  background-color: #ababad;
}

.selectBox option {
  background-color: white;
  color: #344c5c;
}

.selectBox option:hover {
  background-color: #ebecf0;
}
