.scrollbox{
    overflow: hidden;
}

.scrollbox:hover{
    overflow-y: auto;
    overscroll-behavior: contain;
    -ms-scroll-chaining: contain;
}
.scrollbox::-webkit-scrollbar {
        width: 13px;
        height: 15px;
    }
.scrollbox::-webkit-scrollbar-thumb  
    {  
    height: 15px;
    border-radius: 5px;  
    background-color: #ABABAD;  
    }  

.custom-switch .chakra-switch__track[data-focus]{
    box-shadow: none;
}